<footer>
    <small>
        <%= link_to 'Contact Lista. Todos os direitos reservador', root_path %>
    </small>
    <nav>
        <ul>
            <li>
            <%= link_to 'Voltar', root_path %>
            </li>
            <li>
                <%= link_to 'Sobre', sobre_path %>
            </li>
            <li>
                <%= link_to 'Contato', contato_path %>
            </li>
        </ul>
    </nav>
</footer>